<%- include("header.ejs") %>
    <h1>Write Your Blog</h1>
        <form action = "/submit" method="POST">
            <input type="text" name="NewTitle" placeholder="Title">
            <input typr="text" name="NewContent" placeholder="Content">
            <input type="submit" value="Add">
        </form>
</body>
</html>