<%- include("header.ejs") %>
    <h1 class="addBlg-header">Write Your Blog</h1>
        <form action = "/submit" method="POST">
            <!-- <div data-mdb-input-init class="form-outline mb-4" style="padding: 2rem; padding-right: 50%;">
                
                <label class="form-label" style="font-size: 2rem; " name="NewTitle">Title</label>
                <input type="text" name="NewTitle" placeholder="Title">
            </div> -->

            <div data-mdb-input-init class="form-outline mb-4" style="padding: 2rem; padding-right: 50%;padding-bottom: 0%;">
                <label class="form-label d-block" style="font-size: 2rem; font-weight: 500;" for="NewTitle">Title</label>
                <input type="text" id="NewTitle" name="NewTitle" placeholder="Title" class="form-control" maxlength="100">
                <small>Max 100 characters</small>
            </div>
            
            <!-- <input type="text" name="NewTitle" placeholder="Title"> -->
            <!-- <input type="text" name="NewContent" placeholder="Content"> -->
            <div data-mdb-input-init class="form-outline mb-4" style="padding: 2rem; padding-right: 50%;">
                <label class="form-label" style="font-size: 2rem; font-weight: 500;" name="NewContent">Content</label>
                <textarea class="form-control" name="NewContent" rows="4"></textarea>
            </div>
            <div class="text-center mb-4" style="padding: 2rem; padding-right: 50%; padding-top: 0%;">
                <input type="submit" value="Add" class="btn btn-primary btn-lg" style="padding: 2%; padding-left: 5%; padding-right: 5%; font-size: 2rem;">
            </div>
            
        </form>
</body>
</html>