<%- include("header.ejs") %>

    <span class="bg-view-pg">
        <h1>Discover the Latest in Tech Innovation and Design</h1>
    </span>
    <div class="d-flex flex-row flex-wrap mb-3">
        <% for (i=1; i<=Object.keys(BlogTitle).length;i++){ %>
            <div class="p-2">
                <a href="/blogs/<%= i %>">
                    <div class="card bg-light mb-3" style="max-width: 24.5rem; max-height: 25rem; margin: 2rem;">
                        <div class="card-header" style="background-color: #2B68A0; color: #EBF9FE;">Click to Read more</div>
                        <div class="card-body" style="background-color: #EBF9FE;">
                            
                                <h5 class="card-title">
                                    <%= BlogTitle[i].substring(0,50) %>...
                                </h5>
                                
                                <p class="card-text">
                                    
                                    <%= Blog[i].substring(0,150) %> Read more...
                                    
                                </p>
                        </div>
                    </div>
                </a>
                
            </div>
            <% } %>
    </div>
    </body>

    </html>