<%- include("header.ejs") %>
    
<span class="blog-home-pg">
    <h1>Discover the Latest in Tech Innovation and Design</h1>
</span>
    <button type="button" class="btn custom-btn btn-lg">
        <a href ="/add">New Blog</a></button>
    <button type="button" class="btn custom-btn btn-lg">
        <a href ="/blog">View Blog</a></button>
    <!-- <% if (locals.BlogTitle) { %>
        <table>
        <% for (i=0; i<=locals.BlogTitle.length;i++){ %>
            <tr>
                <th><h1><%= BlogTitle[i] %></h1></th>
            </tr>
            <tr>
                <td><p><%= Blog[i] %></p></td>
                <% } %>
            </tr>
        </table>
    <% }else{ %>
        <form action = "/submit" method="POST">
            <input type="text" name="NewTitle" placeholder="Title">
            <input typr="text" name="NewContent" placeholder="Content">
            <input type="submit" value="Add">
        </form>
    <% } %> -->
  </body>
</html>
